body {
    background-color: #ffffff;
    margin: 0;
}

.flex-grid {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.flex-grid div {
    flex: 1;
    align-self: center;
}

@media(max-width: 600px) {
    .flex-grid {
        display: block;
        height: initial;
        padding-bottom: 32px;
    }
    .short-bio {
        text-align: center !important;
    }
}

.short-bio {
    justify-self: left;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 46px;
    color: #27292D;
    margin: 0px 0px 8px 0px;
}

.bitmoji {
    justify-content: right;
    text-align: center;
    grid-area: bitmoji;
}

.bio {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
}

#space_ship {
    width: 55%;
    height: auto;
    animation: moveUpAndDown_reverse 1s ease forwards;
}

#space_ship:hover {
    cursor: pointer;
    animation: moveUpAndDown 1s infinite alternate;
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes moveUpAndDown_reverse {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.social-links {
    margin: 20px 0px 0px 0px;
}

.social-links a {
    text-decoration: none !important;
    padding-right: 8px;
    color: inherit;
}

.projects-grid {
    background-color: #3DDC84;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 8px;
}

.projects-grid * {
    margin: 8px;
}

.project-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.project-header {
    background-color: #3DDC84;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 2rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 1 200px;
    padding: 36px;
    white-space: nowrap;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    cursor: pointer;
}