:root {
    --white: #f5f5f5;
    --green: #3DDC84;
    --violet: #0066CC;
}

body {
    background-color: var(--white);
    margin: 0;
    overflow-x: hidden;
}

.flex-grid {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.flex-grid div {
    flex: 1;
    align-self: center;
}

@media(max-width: 600px) {
    .flex-grid {
        display: block;
        height: initial;
        padding-bottom: 32px;
    }
    .short-bio {
        text-align: center !important;
        margin: 12px;
    }
    .skills-grid {
        width: 400px !important;
        height: 400px !important;
    }
}

.short-bio {
    justify-self: left;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 46px;
    color: #27292D;
    margin: 0px 0px 8px 0px;
}

.bitmoji {
    justify-content: right;
    text-align: center;
    grid-area: bitmoji;
    filter: drop-shadow(1px 2px 3px black);
}

.bio {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
}

#space_ship {
    width: 55%;
    height: auto;
    animation: moveUpAndDown_reverse 1s ease forwards;
}

#space_ship:hover {
    cursor: pointer;
    animation: moveUpAndDown 1s infinite alternate;
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes moveUpAndDown_reverse {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.social-links {
    margin: 20px 0px 0px 0px;
}

.social-links a {
    text-decoration: none !important;
    padding-right: 8px;
    color: rgba(2, 8, 20, 0.7);
}

.projects-grid {
    background-color: var(--green);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 8px;
}

.projects-grid * {
    margin: 8px;
}

.project-title,
.card-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: var(--white);
}

.project-header {
    background-color: var(--green);
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--green);
    display: grid;
    justify-content: center;
}

.project-footer * {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.project-footer a:hover {
    text-decoration: underline;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    white-space: nowrap;
    user-select: none;
    backdrop-filter: blur(20px) saturate(125%);
    background-color: rgba(0, 0, 0, 0.35);
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    cursor: pointer;
}

.project {
    flex: 1 1 200px;
    padding: 36px;
}

.skill-tile {
    background-color: white;
    color: #424242;
}

.details-flex {
    width: 100%;
    padding-top: 12px;
}

.details-flex section {
    margin: 8px;
    border-radius: 12px;
    backdrop-filter: blur(20px) saturate(125%);
    background-color: #f5f5f5;
    color: var(--white);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.skills-container {
    flex: 1;
    display: flex;
    place-content: center;
}

.skills-grid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-gap: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vw !important;
}

.downloads-grid {
    flex: 1;
    height: 600px;
    display: grid;
    place-items: center;
}

.card-title {
    padding: 8px;
    color: #616161;
}

.card>img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.tile1 {
    grid-row: 5/3;
    grid-column: 8/6;
}

.tile2 {
    grid-row: 7/5;
    grid-column: 8/6;
}

.tile3 {
    grid-row: 9/7;
    grid-column: 8/6;
}

.tile4 {
    grid-row: 11/9;
    grid-column: 8/6;
}

.tile5 {
    grid-row: 6/4;
    grid-column: 10/8;
}

.tile6 {
    grid-row: 8/6;
    grid-column: 10/8;
}

.tile7 {
    grid-row: 8/6;
    grid-column: 6/4;
}

.tile8 {
    grid-row: 10/8;
    grid-column: 6/4;
}

.tile9 {
    grid-row: 7/5;
    grid-column: 12/10;
}

.tile10 {
    grid-row: 9/7;
    grid-column: 4/2;
}

.tile11 {
    grid-row: 6/3;
    grid-column: 6/3;
}

.tile12 {
    grid-row: 11/8;
    grid-column: 11/8;
}